@charset "utf-8";

/* ------- base ------- */
body{
	background:#FFF;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #FFF;
}
h1,h2,p,span,li {
  font-family: 'Roboto Condensed', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  
}
body, ul, li, div {
	margin: 0;
	padding: 0;
}

img {
	border:0;
}

a {
	text-decoration:none;
}

.clearfix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
#wrapper
{
	width: 100%;
	min-width: 1200px;
	overflow:visible;
}
#form
{
	position:relative;
	width:60%;
	top:50px;
	margin:50px 0 100px 20%;
}
#form h1{
	font-size:30pt;
	color:#333;
	margin-left:20px;
	font-weight:bold;
	
	
}
#form-control{
	font-size:18pt;
	color:#595959;
}
.form-group
{
	border:1px solid black;
	vertical-align:middle; 
	color:#595959;
}
.col-6
{
	border:1px solid darkgray;
	font-size:13pt;
	border-radius:3px;
	height:35px;
	width:250px;
}
.col-9
{
	border:1px solid darkgray;
	font-size:13pt;
	border-radius:3px;
	height:100px;
	width:450px;
}
#form-right{
	margin-right:5px;
	margin-top:4px;
	text-align:right;
	color:#595959;
	line-height:45px;
	border:1px solid black;
	float:left;
}
.Data-Items{
	width:50%;
	float:left;
	border:1px solid black;
}	

fieldset
{
	border:1px solid #b3b3b3;
	border-top:30px solid #75a3a3;
	border-radius:10px;
}
.select-class
{
	border:1px solid darkgray;
	width:100px;
	height:35px;
	font-size:13pt;
	
}
.form-left{
	
	font:15pt sans-serif;
	vertical-align:text-top;
	text-align:right;
	color:black;
	font-weight:bold;
	padding-bottom:10px;
	padding-right:15px;
	color:#595959;
	
}
.form-right
{
	padding-bottom:10px;
	text-align:left;
}

#button-apply{
	margin-top:5px;
	border:1px solid #75a3a3;
	background:#75a3a3;
	color:white;
	width:100px;
	height:45px;
	font-size:15pt;
	border-radius:5px;
	width:250px;
	margin-left:218px;
}
#ShowContent
{
	position:relative;
	margin:50px auto;
	border:1px solid blue;
	color:black;
	width:60%;
	height:100%;
}
#this_footer{
	width:100%;
	position:relative;
	height:180px;
}