body{
	margin:0;
	min-width: 1300px;
	overflow:visible;
	font-family:  Microsoft JhengHei ;
}
h1,h2,p,span,li {
  
  
}
#wrapper
{
	width: 100%;
	min-width: 1300px;
	overflow: visible;
}
#content{
	
	position:relative;
	width:95%;
	margin:30px auto;
	min-width:900px;
	font-family:  Microsoft JhengHei ;
}
#content .form{
	
}
fieldset{
	border:0px solid #5c8a8a;
	border-radius:10px;
	padding-bottom:50px;
	margin-top:20px;
	margin-bottom:30px;
}
fieldset hr{
	height:1px;
	background-color:#75a3a3;
}
#thisH1{
	text-align:center;
	font-family:  Microsoft JhengHei ;
	color:#595959;
}
#slogan{
	font-weight:bold;
	margin-top:0px;
	margin-left:-15px;
	margin-bottom:0px;
	text-align:center;
	font-family:  Microsoft JhengHei ;
	font-size:13pt;
	color:#a6a6a6;
}
#TPTG{
	float:left;
	margin:0 0 0 0;
}
#sideH1{
	float:left;
	margin-top:0px;
	margin-left:50px;
	font-size:30pt;
}
form
{
	
}
.thisTable{
	float:left;
	
	margin-left:220px;
	font-family:  Microsoft JhengHei ;
}
.formRight{
	padding-bottom:5px;
	
	font-family:  Microsoft JhengHei ;
}

.formLeft{
	font:15pt;
	vertical-align:text-top;
	text-align:right;
	color:black;
	font-weight:bold;
	padding-bottom:5px;
	padding-left:5%;
	color:#595959;
	font-family:  Microsoft JhengHei ;
}
.inputText{
	border:1px solid darkgray;
	font-size:12pt;
	border-radius:5px;
	height:25px;
	width:250px;
}
.inputTextArea{
	border:1px solid darkgray;
	font-size:12pt;
	border-radius:2px;
	height:80px;
	width:250px;
	max-width:400px;
	margin-left:9px;
	margin-top:5px;
}
#inputFile{
	font-size:15pt;
	display: block;
	width:	250px;
	text-align:center;
	margin: 0 0 0 auto;
	font-family:  Microsoft JhengHei ;
	border-radius: 5px;
	border: 1px solid #b3b3b3;
	background-color: white;
	color:#262626;
	
}
.input-button{
	/*border:1px solid red;
	background:red;
	color:white;
	width:100px;
	height:45px;
	font-size:15pt;
	border-radius:5px;*/
}
.inputFile{
	/*border:1px solid darkgray;
	
	border-radius:5px;
	background:#75a3a3;
	color:white;*/
}
.inputDate{
	margin-left:10px;
	border:1px solid darkgray;
	font-size:12pt;
	border-radius:2px;
	height:30px;
	width:250px;
}
.inputTime{
	margin-left:10px;
	border:1px solid darkgray;
	font-size:12pt;
	border-radius:2px;
	height:30px;
	width:250px;
}
.buttonType{
	margin-top:5px;
	border:1px solid #75a3a3;
	background:#75a3a3;
	color:white;
	width:100px;
	height:45px;
	font-size:15pt;
	border-radius:5px;
	width:250px;
	font-family:  Microsoft JhengHei ;
	cursor:pointer;
	margin-bottom:30px;
}
#thisA{
	height:50px;	
}
#thisA a{
	color:#75a3a3;
}
#thisA a:hover{
	border-bottom:1px solid #75a3a3;
	color:#c2d6d6;
}
.BTN{
	margin-left:75%;	
}