body{
	font-family: 'Roboto Condensed', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0 0;	
}
a {
	text-decoration:none;
}
#wrapper{
	min-width:900px;
	overflow:auto;
}
#header {
	height: 80px;
	background-color: #6ca1a1;
}
#header-inner {
	padding-top:5px;
	width: 70%;
	margin: 0 auto;
}
#logo {
	float: left ;
}
#content{
	width:80%;
	margin:0 auto;
	max-width:900px;	
}
#protocol{
	border:1px solid #b3b3b3;
	border-radius:10px;
	font-size:20px;	
	margin-top:30px;
	margin-bottom:30px;
	padding:10px 10px;
	line-height:25px;
	font-weight:bold;
}
#protocol hr{
	margin: 0 0 -10px 0;
	background-color: #6ca1a1;
	height: 2px;
}
#protocol div{
	border:1px solid #6ca1a1;
	border-radius:10px;
	color:tomato;
}
#protocol div hr{ 
	margin: -20px 0 -20px 0;
	background-color: #6ca1a1;
	height: 1px;
}
fieldset{
	border:1px solid #b3b3b3;
	border-radius:10px;
	padding-bottom:50px;
	margin-top:50px;
}
#FBregForm h3{
	text-align:center;
}
#thisTable{
	width:70%;
	margin:0 auto;
}
#thisPic{
	padding:0 30px 0 10px;
}
.inputText{
	border-radius: 5px;
	height:20px;
	width:250px;
	margin-left:10px;
	line-height:50px;
	margin-bottom:10px;
}
.inputDate{
	border-radius: 5px;
	height:20px;
	width:150px;
	margin-left:10px;
}
#thisA a{
	color:#75a3a3;
}
#thisA a:hover{
	border-bottom:1px solid #75a3a3;
	color:#c2d6d6;
}
.button{
	margin-top:5px;
	margin-left:70px;
	font-size:15pt;
	background:#75a3a3;
	color:white;
	width:100px;
	height:45px;
	border-radius:5px;
	width:200px;
}