body{
	font-family: 'Roboto Condensed', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0 0;
	color:black;
}
a {
	text-decoration:none;
}
#f_wrapper{
	/*min-height:100%;
	position:relative;*/
	min-width:1300px;
	overflow:visible;
}
#f_header {
	height: 80px;
	background-color: #527a7a;
}
#f_header-inner {
	padding-top:5px;
	width: 70%;
	margin: 0 auto;
}
#f_logo {
	float: left ;
}
#f_content{
	padding:10px 0 0 0;
	min-height:500px;
	max-width:1300px;
}
#email-form{
	width:50%;
	margin:0 auto;
	border:1px solid #b3b3b3;
	border-radius:20px;
	font-size:20px;	
	margin-top:30px;
	padding:50px 50px;
	line-height:25px;
	font-weight:bold;
	border-left:30px solid #75a3a3;
	border-right:30px solid #75a3a3;
}
#bck-img{
	margin-left:10%;
	float:left;
}
#bck-img img{
	height:500px;
	width:750px;
	/*padding-top:10px;
	background: url(../img/bike.jpg) no-repeat;
	background-size:contain;
	*/
}
#login-form{
	float:left;
	margin-top:20px;
	margin-left:10px;
	border-radius: 10px;
	border:1px solid #6ca1a1;
	box-shadow:5px 5px #6ca1a1;
	padding:5px 5px;
}
.thisTitle{
	text-align:left;
}
.thisTitle hr{
	margin: -10px 0 10px 0;
}
#login-form #error{
	text-align:center;
	background-color:tomato;
	color:white;
	padding-top:5px;
	height:20px;
}
.inputText{
	border-radius: 5px;
	height:30px;
	width:250px;
	margin-left:10px;
	font-size:20px;
}
.ubutton{
	margin-top:5px;
	font-size:15pt;
	background:#75a3a3;
	color:white;
	width:100px;
	height:45px;
	border-radius:10px;
	width:200px;
	text-align:center;
	margin-left:50px;
}
.fpbutton{
	margin-top:5px;
	margin-left:20px;
	font-size:15pt;
	background:#75a3a3;
	color:white;
	width:80px;
	height:45px;
	border-radius:10px;
	width:200px;
	text-align:center;	
}
.subTitle{
	float:left;
	width:150px;
	text-align:center;
	color:#75a3a3;
	font-weight:bold;
}
.subTitle a:hover{
	border-bottom:1px solid #75a3a3;
	color:#c2d6d6;
}
#thisSub{
	height:35px;
}
#thisOr{
	color:#666;
	margin:10px 0 0 0;
	text-align:center;
}
#thisFBbtn{
	margin-left:30px;
	/*background-color:#3b5998;*/
	font-size:20px;
	height:35px;
	width:250px;
	border-radius:10px;
	padding:12px 0 0 0;
	margin-bottom:30px;
	text-align:center;
}
#thisFBbtn a{
	color:white;
}
#thisFooter{
	width:100%;
	clear:both;
}
