@charset "utf-8";

/* ------- base ------- */
body{
	background: #FFF;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #FFF;
}
h1,h2,p,span,li{
  font-family: 'Roboto Condensed', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  
}
body, ul, li, div {
	margin: 0;
	padding: 0;
}

img {
	border:0;
}

a {
	text-decoration:none;
}

.clearfix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
#wrapper
{
	width: 100%;
	min-width: 1300px;
	min-height: 500px;
	overflow: visible;
	background-color: #e6e6e6;
	
}
/* ------- nav ------- */
#nav {
	float:left;
	width:190px;
}

#nav li {
	list-style: none;
}
/*------main------*/
#main{
	background: rgba(77, 77, 77,0.8);
	/*box-shadow: rgba(0,0,0,.25) 3px 3px 10px, rgba(0,0,0,.25) -3px -3px 10px ;*/
	position: absolute;
	float: left;
	width: 800px;
	height:150px;
	border: 1px;
	left: 15%;
	bottom:10;
	padding: 25px;
	border-radius: 10px;
}
#main p{
	font-size:16pt;
	color:white;
	float:left;
	margin:8px 30px;
	
	
}
#title
{
	float: left;
	position: relative;
	border: 2px solid white;
	font-size: 15pt;
	width: 250px;
	height: 50px;
	margin: 3px;
	margin-left:15px;
	/*top:180px;*/
	
}
#column-nav li
{
	list-style: none;
	float: left;
	padding-left: 15px;
	padding-right:15px;
	list-style-type: none;
}

#columnContainer
{
	background:rgba(140, 140, 140,.9);
	top:15;
	margin: 0 auto;
	width: 95%;
	height: 80%;
	box-shadow: rgba(128,128,128,.25) 2px 2px 10px, rgba(128,128,128,.25) -2px -2px 10px ;
	/*background: url(../img/startup-594090_1920.jpg) no-repeat center;*/
	position: relative;
	overflow: visible;
	min-width:1000px;
	border:10px #f2f2f2 solid;
	border-radius:10px;
}
#columnContainer img
{
	opacity:0.8;
	/*background:rgba(179, 204, 204,.9);*/
}
#main #search_box { 
	/*background:-moz-linear-gradient(top, #ffd73a, #ffa500); 
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffd73a), to(#ffa500));*/
	/*border:1px solid #d28703;
	border-radius:5px; 
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	-moz-box-shadow:inset 0 1px #ffff90, inset 0 -2px 5px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65);
	-webkit-box-shadow:inset 0 1px #ffff90, inset 0 -2px 5px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65); */
	padding:9px;
	margin-top:-7px;
	padding-left:4px;
	width:255px;
	float:left;
}

#main #search_box .search-wrapper { 
	background:#fff; 
	border:2px solid #a6a6a6;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	/*-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0; 
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0; */
	height:47px;
	padding-left:10px; 
	position:relative;
}

#main #search_box input,
#main #search_box input:focus { border:none; color:gray; outline:none; font:bold 24px Helvetica, Arial, sans-serif; margin:8px 0; width:220px; }
#main #search_box button {
	/*background:-moz-linear-gradient(top, #453e26, #000);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#453e26), to(#000));*/
	background-color:#a6a6a6;
	border:1px solid #a6a6a6;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	
	cursor:pointer;
	height:47px; 
	position:absolute; 
	right:-1px; 
	top:0px; 
	width:45px;
}
#button1  {
	box-shadow: #737373 0px 2px 2px;
	float:left;
	position:relative;
	display:inline-block;
	width:200px;
	height:50px;
	padding:30px;
	margin:2px;
	text-align:center;
	border:1px solid #6699ff;
	padding:2px 2px ;
	background:#6699ff;
	color: white;
	font-size:17pt;
	line-height:37px;
	font-weight:bold;
	border-radius:2px;
	cursor: pointer;
	/*top:130px;
	left:75%;*/
}
#button2  {
	box-shadow: #737373 0px 2px 2px;
	float:left;
	position:relative;
	display:inline-block;
	width:200px;
	height:50px;
	padding:2px;
	margin:2px;
	text-align:center;
	border:1px solid #ffbb33;
	padding:2px 2px ;
	background: #ffbb33;
	color: white;
	font-size:17pt;
	font-weight:bold;
	line-height:37px;
	border-radius:2px;
	/*top:130px;
	left:75%;*/
	cursor: pointer;
}
#button3 {
	box-shadow: #737373 0px 2px 2px;
	float:left;
	position:relative;
	display:inline-block;
	width:200px;
	height:50px;
	padding:30px;
	margin:2px 2px 2px 150px;
	text-align:center;
	border:1px solid #6699ff;
	padding:2px 2px ;
	background:#6699ff;
	color: white;
	font-size:17pt;
	line-height:37px;
	font-weight:bold;
	border-radius:2px;
	cursor: pointer;
	/*top:130px;
	left:75%;*/
}

ul.subs li a {
	display:block;
	height: 40px;
	line-height: 40px;
	text-indent:25px;
	background-color:#F5F5F5;
	border-right:10px solid #0D9BE5;
	font-size:12px;
	color: #164158;
}
#contentContainer {
  width: 100%;
  position:relative;
  display: none;
}
#contentContainer ul,
#contentContainer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#column-nav
{
	padding:8px;
	border-radius:4px;
	position:absolute;
	left:38%;
	bottom:5;
	
	/*background: rgba(255, 255, 255,0.8);*/
}
#column-nav li
{}
#column-nav li a
{
	font-size:20pt;
	color:white;
	font-weight:bold;
	
	width:10px;
}
#column-nav li a:hover
{
	border-bottom:1px solid #c2d6d6;
	color:#c2d6d6;
}
#sub-content{
	width:100%;
	min-width:1000px;
	min-height:150px;
	color:black;
	margin-left:100px;
	padding-top:50px;
	background-color:#e6e6e6;
}
#sub-content #new1, #new2{
	width:500px;
	height:100px;
	float:left;
	margin-left:50px;
	padding:10px 0 0 0;
	border:1px solid #b3b3b3;
	border-radius:10px;
	text-align:center;
	background-color:white;
	box-shadow:5px 5px #6ca1a1;
}
#this_footer{
	width:100%;
	clear:both;
}
