#s-outer-wrapper{
	width:90%;
	margin:0 auto;
	
}
#s-wrapper {
    *zoom: 1;
	min-width: 550px;
	max-width: 550px;
	min-height: 100px;
	margin-left:20px;
	margin-bottom:20px;
	float:left;
}
#s-wrapper:after {
  content: "";
  display: block;
  clear: both;
}
#s-wrapper #slider{
	color: #000;
	margin-left: 1%;
}
section .cell-other,
section .slideCell {
  border: 1px solid #434343;
  font-size: 10px;
  line-height: 1.25;
  cursor: pointer;
}
section .cell-other img + p,
section .slideCell img + p {
  margin-top: 0px;
}
section .cell-other:hover,
section .slideCell:hover {
  background-color: #505050;
  border-color: #7c7c7c;
}
/* slider (base)
--------------------------------------------------------- */
.slideFrame {
  overflow: hidden;
  
}

.slideCell {
  display: block;
}
/*框格子线*/
.slideGuide .slideCell {
  float: left;
  margin-right: 0px;
  border-right:2px dotted #b3b3b3;
  border-left:2px dotted #b3b3b3;
  border-top:0px solid white;
}
.slideGuide.up .slideCell, .slideGuide.down .slideCell {
  float: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* controller */
.slideCtrl {
  position: absolute;
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  font-weight: bold;
  text-align: center;
}
.slideCtrl p
{
	color:white;
	line-height:0px;
}

.slideCtrl.left, .slideCtrl.right {
  
  top: 0;
  width: 35px;
  height: 100%;
}
.slideCtrl.up, .slideCtrl.down {
  left: 0;
  width: 100%;
  height: 60px;
  font-size: 14px;
  line-height: 60px;
}

.slideCtrl.left {
  left: 0;
  font-size:17pt;
  color: white;
}

.slideCtrl.right {
  right: 0;
  font-size:17pt;
  color: white;
}

.slideCtrl.up {
  top: 0;
}

.slideCtrl.down {
  bottom: 0;
}
#ThisMain{
	border:1px solid white;
	background-color:white;
}
#ThisMain #ThisName{
	width:180px;
	height:180px;
	text-align:center;
	line-height:170px;
	font-size:20px;
	font-weight:bold;
	color:black;
	padding:2px 2px;
}
/* slider-1
--------------------------------------------------------- */
#slider-1.slideFrame {
	position: relative;
	height: 180px;
	margin: 0;
	border: 1px solid #b3b3b3;
}
#slider-1.slideFrame .slideCell {
  height: 180px;
  padding: 0px;
  background-color: #f2f2f2;
}
#slider-1.slideFrame .slideCell:hover {
  background-color: #737373;
}
#slider-1.slideFrame .slideCtrl {
	padding-top: 70px;
	color: #000;
}

/* slider-2
--------------------------------------------------------- */
#slider-2.slideFrame {
	position: relative;
	height: 180px;
	margin: 0;
	border: 1px solid #b3b3b3;
}
#slider-2.slideFrame .slideCell {
  height: 180px;
  width:180px;
  background-color: #f2f2f2;
}
#slider-2.slideFrame .slideCell:hover {
  background-color: #737373;
}
#slider-2.slideFrame .slideCtrl {
	padding-top: 70px;
	color: #000;
}
/* slider-3
--------------------------------------------------------- */
#slider-3.slideFrame {
	position: relative;
	height: 180px;
	margin: 0;
	border: 1px solid #b3b3b3;
}
#slider-3.slideFrame .slideCell {
  height: 180px;
  width:180px;
  background-color: #f2f2f2;
}
#slider-3.slideFrame .slideCell:hover {
  background-color: #737373;
}
#slider-3.slideFrame .slideCtrl {
	padding-top: 70px;
	color: #000;
}
/* slider-4
--------------------------------------------------------- */
#slider-4.slideFrame {
	position: relative;
	height: 180px;
	margin: 0;
	border: 1px solid #b3b3b3;
}
#slider-4.slideFrame .slideCell {
  height: 180px;
  padding: 0px;
  background-color: #f2f2f2;
}
#slider-4.slideFrame .slideCell:hover {
  background-color: #737373;
}
#slider-4.slideFrame .slideCtrl {
	padding-top: 70px;
	color: #000;
}