@charset "utf-8";

/* ------- base ------- */
body{
	background: #FFF;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #000;
	margin:0;
}
h1,h2,p,span,li {
  font-family: 'Roboto Condensed', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  
}
a{
	text-decoration:none;
}

/*.clearfix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}*/

#wrapper{
	min-width: 1400px;
	overflow: auto;
	background-color:#f2f2f2;
}
#wrapper-inner{
	margin:0 auto;
	padding-top:50px;
}
#sidebar{
	margin-left:3%;
	margin-right:2%;
	float:left;
	width:130px;
	text-align:center;
	padding:10px 10px;
	border-radius: 5px;
	border:1px solid #cccccc;
	/*box-shadow:1px 1px 3px #6ca1a1;*/
	background:white;
	font-family:  Microsoft JhengHei ;
}
#sidebar #topic
{
	font-family:  Microsoft JhengHei ;
	font-size:16pt;
	font-weight:bold;
	color:#333333;
}
#sidebar a{
	color:white;	
}
#sidebar a:hover{
	color:#c2d6d6;
}

#sidebar hr{
	margin:5px 0 0 0;
	background-color: #cccccc;
	height: 1px;
}
#sidebar div{
	color: white;
	line-height:30px;
	background-color: #6ca1a1;
	margin-bottom:10px;
	border-radius: 5px;
	display:block;
}
#sidebar button{
	color: white;
	line-height:30px;
	background-color: #6ca1a1;
	margin-bottom:10px;
	border-radius: 5px;
	display:block;
	width:100px;
}
#div1
{
	float:left;
	margin-left:20px;
}
#div2
{
	margin-top:5px;
	margin-right:40px;
	float:right;
}
#div2 #button1  {
	box-shadow: #737373 0px 2px 2px;
	width:290px;
	line-height:15px;
	font-family:  Microsoft JhengHei ;
	margin:0 10px 10px 45px;
	text-align:center;
	border:1px solid #999999;
	padding:5px 2px ;
	background:#999999;
	color: white;		
	font-weight:bold;
	border-radius:2px;
	cursor: pointer;
	/*top:130px;
	left:75%;*/
}
#div2 h1{
	font-family:  Microsoft JhengHei ;
	font-size:18pt;
	color:white;
	text-shadow: 3px 3px #808080;
}
#div2 small{
	font-family:  Microsoft JhengHei ;
	font-size:11pt;
	color:white;
	text-shadow:none;
}
#content{
	float:left;
	margin: 0 0 10px 20px;
	min-width:1000px;
	max-width: 1000px;
	/*border:1px solid black;*/
}
#content #thisH1{
	line-height: 0px;
	width: 300px;
	padding-left: 10px;
	border-radius: 7px;
	/*border-left:5px solid #75a3a3;
	border-bottom:5px solid #75a3a3;*/
}
#content .title1
{
	line-height: 0px;
	margin:15px 0 5px 10px;
	
	font-size:25pt;
	font-family:Microsoft JhengHei;
	color:#333333;
}
.title2
{
	line-height: 0px;
	margin:25px 0 30px 20px;
	text-align:center;
	font-size:25pt;
	font-family:Microsoft JhengHei;
	color:#333333;
	
}
.s1
{
	margin-bottom:50px;
}
#content .SeeMore
{
	float:right;
	font:15pt Microsoft JhengHei;
	margin-top:-30px;
	
}
#content .SeeMore a
{
	color:#666699;
}
#ThisFilter{
	margin-top:10px;
	float:left;
	
}
#ThisFilter button{
	border-radius:5px;
	color:#666699;
	font-weight: bold;
}
#search_box { 
	/*background:-moz-linear-gradient(top, #ffd73a, #ffa500); 
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffd73a), to(#ffa500));*/
	/*border:1px solid #d28703;
	border-radius:5px; 
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	-moz-box-shadow:inset 0 1px #ffff90, inset 0 -2px 5px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65);
	-webkit-box-shadow:inset 0 1px #ffff90, inset 0 -2px 5px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65); */
	padding:9px;
	width:300px;
	
	
}

#search_box .search-wrapper { 
	background:#fff; 
	border:3px solid #668c99;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	/*-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0; 
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0; */
	height:40px;
	padding-left:10px; 
	position:relative;
}

#search_box input,
#search_box input:focus { border:none; color:#333; outline:none; font:bold 24px Helvetica, Arial, sans-serif; margin:5px 0; width:240px; }
#search_box button {
	/*background:-moz-linear-gradient(top, #453e26, #000);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#453e26), to(#000));*/
	background-color:gray;
	border:1px solid gray;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	
	cursor:pointer;
	height:40px; 
	position:absolute; 
	right:-1px; 
	top:0px; 
	width:45px;
}

#page-bar{
	margin-left:28%;
	color: #666699;
	font-weight: bold;	
}
#page-bar a{
	color: #666699;
}
#page-bar li {
	float: left;
	padding:10px 10px ;
	list-style-type: none;
	border:1px solid #cccccc;
}
#page-bar #thisSelect{
	background-color:#666699;	
}
#page-bar #thisSelect a{
	color:white;	
}
#this_footer{
	width:100%;
	clear:both;
}