@charset "utf-8";

/* ------- base ------- */
body{
	background: #FFF;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #000;
}
h1,h2,p,span,li {
  font-family: 'Roboto Condensed', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  
}
body, ul, li, div {
	margin: 0;
	padding: 0;
	
}



a {
	text-decoration:none;
}

.clearfix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
#wrapper
{
	
	width: 100%;
	min-width: 1200px;
	overflow:visible;
	font-family:  Microsoft JhengHei ;
}
.TabbedPanelsContentGroup .TabbedPanelsContent.TabbedPanelsContentVisible h1 {
	color:#293d3d;
	
}
.TabbedPanelsContentGroup .TabbedPanelsContent.TabbedPanelsContentVisible table tr td table tr th div {
	color: #39F;
}
.MainPage{
	
	border: 1px solid #b3b3b3;
	width: 90%;
	height: auto;
	margin:20px;
	padding: 10px;
	border-radius: 10px;
	
}
#sub-container
{
	width:23%;
	/*border:1px solid black;*/
	float:left;
	position:absolute;
	top:20;
	left:40;
}

.sub-content
{
	width:90%;
	height:auto;
	border: 1px solid #b3b3b3;
	border-radius: 10px;
	margin-top:50px;
	margin-left:25px;
}
.sub-content h2
{
	margin-left:10px;
	font-family:Microsoft JhengHei ;
	font-weight:italic;
}
#ThisTable{
	width:95%;
	height: auto;
	margin: 5px auto;
	border-collapse: collapse;
	font-weight: bold;
	color: #404040;
	
}
#thisTable p{font-family:Microsoft JhengHei ;}
#thisTable h3{font-family:Microsoft JhengHei ;}
#thisTable img
{
	margin-top:20px;
	width:180px;
	height:180px;
}
#ThisButton{
	width: 120px;
	height: 50px;
	font-size: 25px;
	font-weight:bold;
	color:white;
	border:1px solid #75a3a3;
	background-color: #75a3a3;
	border-radius:2px;
}
#thistable #submit-dialog
{
	border:1px solid gray;
	height:auto;
}
.wanted{
	font-size: 25px;
	text-align:center;
	margin-bottom:5px;
}
#ThisConBtn{
	width:100%;
	height: 50px;
	font-size: 25px;
	/*font-weight:bold;*/
	color:white;
	border:2px solid #75a3a3;
	background-color: #75a3a3;
	border-radius:2px;
	text-align:center;
}
#ThisConBtn:hover{
	background: transparent;
	color:#75a3a3;
}
#ThisDBtn{
	width:100%;
	height: 35px;
	font-size: 25px;
	padding:5px;
	color:white;
	background-color: #75a3a3;
	border:2px solid #75a3a3;
	border-radius:2px;
	text-align:center;
	margin:10px 0 15px 0;
}
#ThisDBtn:hover{
	background: transparent;
	color:#75a3a3;
}
#title{
	text-align:left;
	font:30pt sans-serif;
	font-weight:bold;
}
#back
{
	margin: 30px 0 0 10%;
	border: 1px solid #b3b3b3;
	background-color: white;
	width: 90px;
	height: 40px;
	border-radius: 5px;
}
.owned p
{
	line-height:5px;
	font-family:  Microsoft JhengHei ;
	
}
#thistable h3{color:#47476b}
#thistable p{font-family:  Microsoft JhengHei ;line-height:15px;}
#adjust p{line-height:20px;color:#4d4d4d;}
#thistable #adjust{margin-top:10px;}
#thistable .owned{
	width:100%;
	height:40%;
	/*border: 1px solid red;*/
	font-family:  Microsoft JhengHei ;
}
#thistable .provider-info 
{
	margin-top:-10px;
	float:left;
}
#thistable .provider-pic
{
	width:80px;
	height:80px;
	position:absolute;
	float:right;
	right:20;
}
#imgbckcolor{
	background-color: white;
	vertical-align:middle;
	text-align:center;
}
#ContentContainer{
	margin-bottom:50px;
	border: 0px solid black;width:800px;position:relative;left:260;top:20;
	/*position:absolute;*/
	position:relative;
	border:1px black solid;
	
	
}
#advertisement
{
	width:253px;
	/*border:1px gray solid;*/
	margin-top:10px;
	margin-bottom:5%;
	box-shadow:0 5px 10px rgba(0,0,5,.25);
}
#advertisement img
{	
	min-width:253px;
	min-height:350px;
	
	
}
#thisTable #test
{
	width:200px;border:1px solid black;position:absolute;
	left:300;
	top:10;
	
}
#advertisement2
{
	min-width:px;
	min-height:200px;
	position:relative;
	left:595px;
	top:-100px;
	margin-bottom:-50px;
	box-shadow:0 5px 10px rgba(0,0,5,.25);
}
#leaveMessage{
	/*border:1px solid gray;*/
	/*background-color:#ffffcc;*/
	padding:10px 10px;
	font-family:  Microsoft JhengHei ;
	border-top:2px dashed #666699;
}
#leaveMessage h2{
	margin-left:10px;
	padding-top:20px;
	color:#404040;
	
}
#leaveMessage #msgBtn{
	margin-left:10px;
	font-size: 15px;
	font-weight:bold;
	color:white;
	border:2px solid #75a3a3;
	background-color: #75a3a3;
	border-radius:5px;
	text-align:center;
}
#leaveMessage #msgBtn:hover{
	background: transparent;
	color:#75a3a3;
}
#postMessage{
	/*border-top:2px dashed #666699;*/
	
	padding:1px 10px 1px 10px;
}
#postMessage textarea{
	margin-left:15px;
	width:400px;
	height:40px;
	font-size: 20px;
	border-radius:5px;
	background-color:#f2f2f2;
	border:1px solid #cccccc;
}
#postMessage #ThisBtn{
	font-size: 20px;
	font-weight:bold;
	color:white;
	border:3px solid #75a3a3;
	background-color: #75a3a3;
	border-radius:5px;
	text-align:center;
	cursor:pointer;
}
#postMessage #ThisBtn:hover{
	background: transparent;
	color:#75a3a3;
}
#postMessage #pmLogin{
	padding-top:15px;
	text-align:center;
	color:tomato;
}
#message{
	padding:10px 10px;
	margin-top:10px;
	background-color:white;
	font-family:  Microsoft JhengHei ;
}
#message #mTable{
	width:100%;
	padding-bottom:15px;
	border-bottom:1px solid #b3b3b3;
	margin-bottom:5px;
}
#message #img{
	width:100px;
	height:80px;
	vertical-align:middle;
	text-align:center;
}
#message #img #img2{
	max-width:100px;
	max-height:80px;
}
#thisFooter{
	width:100%;
	clear:both;
}