/* No CSS needed, but you can pimp the container and the signs as you wish. */


/* all sign style */
.ratyli .rate{color: #7575a3; font-size: 24px;}

/* empty sign style */
.ratyli .rate-empty{color: #c2c2d6;}

/* full sign style after rating*/
.ratyli.rated .rate-full{color: #5c5c8a;}

/* active signs (hover)*/
.ratyli .rate-active{color: #5c5c8a;}


/* layout styles (only for demo)
body{/*font-family: sans-serif; background:#222; }

p{clear:both; color: #ccc; text-align:center; padding:50px 0;}
footer p{font-size: 80%}

.demo{float:left; width:18%; padding:30px 1%; text-align:center;}
@media screen and (max-width: 920px) {
	.demo{float:none; width:90%; padding:20px 5%;}*/
}


